<div class="contactCardContainer" >
    <div class="parallax"></div>
    <div class="parallax-text">
        <h1> Contact Us</h1>
            <p> We're here to provide you with any additional information you may need, answer any questions, and make 
                this process as smooth as possible for you.
            </p>
    </div>
</div>

<div class="helpContainer">
    <div class="centeredText">
        <h1> Reason for Inquiry </h1>
        <p> What sort of help are you looking for?
        </p>
    </div>
    <div class = "cards">
        <section class="card">
              <h2> Forms </h2>
              <img src="/assets/forms.png" alt="forms icon" width="60" height="60">
              <p> If you're experiencing difficulties in accessing or managing your forms, find your answer here.</p>
            <button class="button">Get help</button>
        </section>
        <section class="card">      
            <h2>Payment</h2>
            <img src="/assets/money.png" alt="payment icon" width="60" height="60">
              <p>Having trouble making a payment? Question on our refund policy? <br>Reach out to us here. </p>
            <button class="button">Payment help</button>
        </section>
        <section class="card">
            <h2>Lawyers</h2>
            <img src="/assets/lawyer.png" alt="lawyer icon" width="60" height="60">
              <p>Are you a lawyer? Get in touch with us for any questions regarding your account. </p>
            <button class="button">Reach out</button>
        </section>
    </div>
</div>

<div class="infoContainer">
    <section class="detailsContainer"> 
        <div class="detailsLeft">
            <h2>Location </h2>
                <p>1500 Palma Drive, Suite 270</p>
                <p> Ventura, CA 93003</p><br>
            <h2>Contact</h2>
                <p>(805) 518-9633</p>
                <p>info@HermanceLaw.com</p>
        </div>
        <div class="detailsRight">
            <img src="/assets/map.png" alt="map of location" width="auto" height="auto">
        </div>
    </section>
</div>
    
