<!--The content below is only a placeholder and can be replaced.-->
<div class = "behind">

  <!-- Navbar menu -->
  <div>
    <mat-toolbar fullscreen>
      <mat-toolbar-row>
      <span class = "nav-title"><a routerLink = "/home">Kids Safeguard System</a></span>
      <span class = "spacing"> </span>

      <div class = "custom">
      <a routerLink = "/about">About </a>
      <a routerLink = "/user2"> Register </a>
      <a routerLink = "/dashboard">Dashboard</a>
      <!-- Application won't be a tab on final version-->
      <a routerLink = "/formpage">Forms </a>
      <a routerLink = "/contact">Contact </a>
      </div>
      
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
</div>
<router-outlet></router-outlet>
