<!--The content below is only a placeholder and can be replaced.-->
<div class = "behind">

  <!-- Navbar menu -->
  <div>
    <mat-toolbar fullscreen>
      <mat-toolbar-row>
      <span class = "nav-title"><a routerLink = "/home">Kids Safeguard System</a></span>
      <span class = "spacing"> </span>

      <div class = "custom">
      <a routerLink = "/about">About </a>
      <a routerLink = "/register"> Register </a>
      <a routerLink = "/dashboard">Dashboard</a>
      <!-- Application won't be a tab on final version-->
      <a routerLink = "/formpage">Forms </a>
      <a routerLink = "/contact">Contact </a>
      </div>
      
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <div class="footer-container">
    <div class="f1">
      <ul>
        <h3> Details </h3>
        <li> Home </li>
        <li> Pricing</li>
        <li> Buy</li>
      </ul>
    </div>
    
    <div class="f2">
      <ul>
        <h3> About </h3>
        <li> About Us</li>
        <li> Privacy Policy</li>
        <li> Terms of Service</li>
      </ul>
    </div>
    <div class="f3">
      <ul>
        <h3> Help</h3>
        <li> Contact Us</li>
        <li> Get started</li>
      </ul>
    </div>
    <div class="f4">
      <ul>
        <h3> Connect</h3>
        <li> Facebook</li>
        <li> Twitter</li>
      </ul>
    </div>
  </div>
</div>