@font-face {
    font-family: Roboto-Thin;
    src: url(/assets/fonts/Roboto-Thin.ttf) format("truetype");
}

h1, h2, h3, p, span {
    font-family: Helvetica, sans-serif;
    color: black;
    font-weight: lighter;
} 

/* Parallax container */
.parallaxContainer {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}
.parallaxContainer h1 {
    padding-top: 0;
    margin-top: 0;
    font-weight: 100;
    color: white;
    font-size: 2.2em;
    margin-bottom: 10px;
}
.parallaxContainer p {
    color: white;
    font-size: 1.2em;
    margin-top: 0;
    font-weight: 100;
}
.parallax {
    background-image: url('/assets/lp-cover.png');
    height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Vertical center */
.parent-vcenter:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.child-vcenter {
    display: inline-block;
    vertical-align: middle;
    width: 830px;
}
/* What is KSS? */
.KSGcontainer {
    text-align: center;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}
.KSG-text p {
    font-size: 16px;
}
.KSG-text span {
    font-size: 20px;
}
.KSG-text h1, .formButtonContainer h1 {
    font-weight: 700;
    font-size: 2.5em;
    color: rgba(235, 92, 92, 0.801);
    font-family: Roboto-Thin, sans-serif;
}
/* Why us? */
.KSG2container {
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}
.KSG-flex-container {
    display: flex;
    padding: 0;
}
.KSG-right {
    flex: 1;
}
.KSG-left {
    flex: 1;
    padding: 1rem;
    padding: 0;
}
/* New/continue forms */
.formButtonContainer {
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 1200px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.newFormCard {
    padding: 2%;
    margin: 2%;
    width: 800px;
    border-radius: 20px;
    height: 440px;
    background-color: rgba(128, 128, 128, 0.055);

}
.newFormCard h1, .continueFormCard h1 {
    font-weight: 200;
}
/* New/continue form buttons */
.newFormCard button {
    width: 20%;
    height: 50px;
    border: 0;
    margin-left: 12px;
    border-radius: 30px;
}

.button {
    font-size: 16px;
    font-family: Roboto-Thin, sans-serif;
    font-weight: bolder;
    color: white;
    background-color: #068C9B;
}
.button:hover {
    background-color: rgba(6, 140, 155, 0.281);
    cursor: pointer;
}
/* Benefits container */
.benefitsContainer {
    display: flex;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 650px;
}
.benefitsLeft, .benefitsRight {
    flex: 1;
    margin: 2%;
    padding:2%;
    margin-left: auto;
    margin-right: auto;
}
.benefitsLeft h3, .benefitsRight h3 {
    font-weight: bolder;
}
.benefitsRight {
    padding-left: 10%;
}
.benefitsContainer img {
    float: left;
    display: block;
}
.floatContent {
    margin-left: 80px;
}
